* body {
  padding: 0;
  margin: 0px 16px 6px 10px;
  background-color: #F5F8FA;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.topbar {
  display: flex;
  margin: 0px 0px 6px 0px;
  padding: 5px;
  position: sticky;
  top: 0;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.66);
}

.topbar .logo__area {
  float: left;
  position: relative;
  margin-right: 20px;
}

.topbar .search__bar {
  margin-top: 3px;
  display: inline-block;
}

.topbar .search__bar .search__bar__container #search {
  border: 1px solid #fff;
  outline: none;
  background-color: #eee6e6;
  padding: 4px;
  min-width: 350px;
  border-right: 0.2px solid #eee6e5;
}

.topbar .search__bar .search__bar__container button {
  border: 0.2px solid #fff;
  outline: none;
  padding: 4px;
  position: absolute;
  background-color: #eee6e6;
}

.topbar .search__bar .search__bar__container i {
  font-size: 18px;
  padding: 1px 8px;
}

.topbar .nav__items {
  float: right;
}

.topbar .nav__items ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.topbar .nav__items ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  margin: 0px 18px;
  padding: 0px 10px;
  background-color: #fff;
  transition: background 0.4s ease;
  border-radius: 50%;
}

.topbar .nav__items ul li:hover {
  color: #fff;
}

.topbar .nav__items ul li a {
  color: #14171A;
}

.topbar .nav__items ul li a:hover {
  color: #0077C0;
}

.topbar .nav__items ul li a i {
  font-size: 22px;
  position: relative;
}

main .main__content__section .container .notification__container {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.66);
  margin-bottom: 10px;
}
main .main__content__section .container .notification__container .author__info {
  display: flex;
  color: #141212;
}
main .main__content__section .container .notification__container .author__info .author__image {
  margin-right: 10px;
}
main .main__content__section .container .notification__container .author__info .author__image a {
  text-decoration: none;
  color: #141212;
}
main .main__content__section .container .notification__container .author__info .author__image a i {
  font-size: 45px;
}
main .main__content__section .container .notification__container .author__info .author__name__time {
  color: #141212;
}
main .main__content__section .container .notification__container .author__info .author__name__time .author__name {
  font-size: 14px;
}
main .main__content__section .container .notification__container .author__info .author__name__time .author__name span b a {
  color: inherit;
  text-decoration: none;
}
main .main__content__section .container .notification__container .author__info .author__name__time .author__name span b a:hover {
  text-decoration: underline;
}
main .main__content__section .container .notification__container .author__info .author__name__time .post__time {
  font-size: 12px;
}
main .main__content__section .container .notification__container .content .tags {
  margin-bottom: 4px;
}
main .main__content__section .container .notification__container .content .tags span {
  padding: 3px;
}
main .main__content__section .container .notification__container .content .tags span a {
  text-decoration: none;
  color: #afaeae;
  font-size: 12px;
}
main .main__content__section .container .notification__container .content .tags span a:hover {
  text-decoration: underline;
}
main .main__content__section .container .notification__container .content .answer__section button {
  border: none;
  outline: none;
  background-color: #E1E8ED;
  padding: 5px;
  border-radius: 2px;
  transition: 0.2s background ease;
}
main .main__content__section .container .notification__container .content .answer__section button a {
  text-decoration: none;
  color: inherit;
}
main .main__content__section .container .notification__container .content .answer__section button:hover {
  background-color: #F5F8FA;
}
main .right__side__bar .upcoming__event .container {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.66);
  border-radius: 8px;
}
main .right__side__bar .upcoming__event .container h6 a {
  text-decoration: none;
  color: gray;
}
main .right__side__bar .recent__activities {
  margin-top: 30px;
}
main .right__side__bar .recent__activities .container {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.66);
  border-radius: 8px;
}
main .right__side__bar .recent__activities .container h6 a {
  text-decoration: none;
  color: gray;
}
main .right__side__bar .popular__activities {
  margin-top: 30px;
}
main .right__side__bar .popular__activities .container {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.66);
  border-radius: 8px;
}
main .right__side__bar .popular__activities .container h6 a {
  text-decoration: none;
  color: gray;
}/*# sourceMappingURL=notifications.css.map */