main{
    display: grid;
    grid-template-areas: "container";
    grid-template-columns: auto;
    grid-template-rows: auto;
    .main__content__section{
        .tag__list{
            display: grid;
            grid-template-columns: auto auto auto;
            .tag__single{
                background: #fff;
                border-radius: 8px;
                padding: 4px;
                padding-bottom: 1px;
                margin: 8px;
                .tag_name{
                    a{
                        text-decoration: none;
                        color: inherit;
                        font-size: 22px;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
                .tag_posts{
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}